<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <img [src]="path" id="icon">
      <a class="navbar-brand" href="#"><span>Awesome</span> Mobiles</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav m-auto ">
          <li class="nav-item">
            <a class="nav-link active text-light " aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="aboutus">Aboutus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light " routerLink="service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light " routerLink="contact">Contact</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
          <div class="container"> 
                       <!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Sign up
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <input type="email" id="email"placeholder="Enter your Email">
          </div>
          <div>
            <input type="password" id="pass"placeholder="Enter your new password">
          </div>
          <div>
            <input type="password" id="con-pass" placeholder="Enter Conifrm password">
          </div>
          <div>
            <input type="text" id="user" placeholder="enter the Username">
          </div>
          
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Signup</button>
        </div>
      </div>
    </div>
  </div>
        </div>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>