<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our services</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Address</a></li>
                    </ul>
                </div>
                     <div class="footer-col">
                        <h4>Get Help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Orders Status</a></li>
                        </ul>
                     </div>
                       <div class="footer-col">
                        <h4>Online Shop</h4>
                        <ul>
                            <li><a href="#">Top Brands</a></li>
                            <li><a href="#">Latest Models</a></li>
                            <li><a href="#">Highend Mobiles</a></li>
                            <li><a href="#">Lowend Mobiles</a></li>
                        </ul>
                       </div>
                         <div class="footer-col">
                            <h4>Follow Us</h4>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </div>
                         </div>
                        
            </div>
        </div>
    </footer>
</body>
